/* Home.module.css */

/* Home.module.css */

/* Adicione um media query para dispositivos móveis */
@media (max-width: 768px) {
  .hero {
    padding: 60px 0; /* Reduza o preenchimento no topo e na parte inferior */
  }

  .hero h1 {
    font-size: 36px; /* Reduza o tamanho da fonte do título */
  }

  .hero p {
    font-size: 18px; /* Reduza o tamanho da fonte do texto de descrição */
    margin-bottom: 20px; /* Reduza a margem inferior */
  }

  .ctaButton {
    padding: 8px 16px; /* Reduza o tamanho do botão */
    font-size: 16px; /* Reduza o tamanho da fonte do botão */
  }

  /* Adicione estilos para a seção de recursos */
  .features {
    flex-direction: column; /* Empilhe os recursos verticalmente */
    padding: 20px 0; /* Reduza o preenchimento entre os recursos */
  }

  .feature h2 {
    font-size: 24px; /* Reduza o tamanho da fonte dos títulos dos recursos */
    margin: 10px 0; /* Reduza a margem superior e inferior dos títulos dos recursos */
  }

  .feature p {
    font-size: 16px; /* Reduza o tamanho da fonte do texto dos recursos */
  }

  .featureImage {
    max-width: 100%; /* Redimensione as imagens dos recursos para caber na tela */
    height: auto;
  }
}

/* Adicione mais regras de mídia e estilos conforme necessário para outros tamanhos de tela */


.learnMore {
  background-color: #0A2430;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.learnMore h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.learnMore p {
  font-size: 24px;
  margin-bottom: 40px;
}

.imageSlider {
  background-color: #fff;
  padding: 80px 0;
  text-align: center;
}

.slideContainer {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.slide {
  display: none;
}

.activeSlide {
  display: block;
}

.slide img {
  max-width: 100%;
  height: auto;
}

.slideIndicators {
  margin-top: 20px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.activeIndicator {
  background-color: #064404;
}

/* Adicione mais estilos e personalize conforme necessário */
