/* Home.module.css */

.home {
  font-family: 'Arial', sans-serif;
}

.hero {
  background-color: #04425a;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin: 20px 0;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.ctaButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #043544;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #0A2430;
  color: #fff;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.feature {
  text-align: center;
}

.feature h2 {
  font-size: 24px;
  margin: 20px 0;
}

.feature p {
  font-size: 16px;
}

.featureImage {
  max-width: 100%;
  height: auto;
}

.learnMore {
  background-color: #0A2430;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.learnMore h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.learnMore p {
  font-size: 24px;
  margin-bottom: 40px;
}

.imageSlider {
  background-color: #fff;
  padding: 80px 0;
  text-align: center;
}

.slideContainer {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.slide {
  display: none;
}

.activeSlide {
  display: block;
}

.slide img {
  max-width: 100%;
  height: auto;
}

.slideIndicators {
  margin-top: 20px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.activeIndicator {
  background-color: #064404;
}

/* Adicione mais estilos e personalize conforme necessário */
