.textSlider {
    position: relative;
    width: 100%;
    height: 400px; /* Ajuste a altura conforme necessário */
    overflow: hidden;
  }
  
  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://th.bing.com/th/id/OIP.PgEe7E-J9KDnx0pBGmrSNwHaEK?pid=ImgDet&rs=1'); /* Substitua 'sua-imagem-de-fundo.jpg' 
    pelo caminho da sua imagem de fundo */
    filter: brightness(0.7); /* Ajuste o brilho da imagem de fundo conforme necessário */
    z-index: -1;
  }
  
  .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
  }
  
  .text {
    font-size: 36px; /* Tamanho da fonte do texto */
    color: #ffffff; /* Cor azulada */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para o texto */
    animation: fadeInOut 3s ease-in-out infinite; /* Animação de fade in/out */
  
    @keyframes fadeInOut {
      0%, 100% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }
  }
  /* ... (estilos existentes) */

.arrowButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 120px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 2;
    transition: color 0.3s ease;
  }
  
  .arrowButton:hover {
    color: #064404; /* Mude para a cor desejada ao passar o mouse */
  }
  
  .previous {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  /* ... (estilos existentes) */
  