/* Footer.module.css */

.footer {
  background-color: #540D6E;
  color: #fff;
  padding: 2rem 0;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap; /* Adiciona wrap para dispositivos menores */
}

.section {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px; /* Adiciona margem inferior para separar as seções */
}

.section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

ul li a {
  color: #ffffff;
  padding: 0.9rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #441e04;
}

.socialLinks {
  display: flex;
  padding: 0.5rem;
}

.socialLinks li {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.socialLinks i {
  margin-right: 8px;
}

.socialLinks a:hover {
  background: #d3bcc0;
  transition: 0.3s;
  border-radius: 2rem;
}

.newsletterForm {
  display: flex;
  flex-wrap: wrap;
}

.newsletterForm input[type="email"] {
  flex: 1; /* Preenchimento do espaço disponível */
  padding: 10px;
  border: 1px solid #fff;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.newsletterForm button {
  flex: 1; /* Preenchimento do espaço disponível */
  background-color: #064404;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.newsletterForm button:hover {
  background-color: #0A2430;
}

.searchBar {
  margin-top: 20px;
  text-align: center;
}

.searchBar h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.searchBar form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px 0 0 20px;
  background-color: rgba(16, 202, 171, 0.1);
  color: #fff;
}

.socialIcon {
  max-width: 3rem;
  display: flex;
}

.searchBar button {
  background-color: #263633;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}.footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  flex: 1;
  margin-right: 20px;
  text-align: center;
}

/* Ajustes para as imagens no footer */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Centraliza as imagens */
}

.searchBar button:hover {
  background-color: #0A2430;
}

/* Media query para dispositivos menores */
@media (max-width: 768px) {
  .section {
    flex: 0 0 100%; /* Seção ocupará toda a largura */
  }

  .newsletterForm input[type="email"],
  .newsletterForm button {
    margin-right: 0; /* Remove a margem direita entre os campos do formulário */
  }
}
