/* Header.module.css */

/* Header.module.css */

/* Estilos para telas maiores (desktop) */
.header {
  background: #04425a;
  color: #fff;
  padding: 1rem;
  background: brightness(0.7);
}

/* Estilos para telas menores (dispositivos móveis) */
@media (max-width: 768px) {
  .header {
    padding: 0.5rem; /* Reduza o preenchimento no topo e na parte inferior */
  }

  /* Alinhe o logo e o texto centralmente */
  .header div {
    text-align: center;
    margin-top: 10px;
  }

  .header h1 {
    font-size: 24px; /* Reduza o tamanho da fonte do título */
    margin-bottom: 5px; /* Reduza a margem inferior */
  }

  .header p {
    font-size: 14px; /* Reduza o tamanho da fonte do texto de descrição */
  }

  /* Estilos para a navegação em dispositivos móveis */
  .header nav ul {
    display: none; /* Oculte a lista de navegação */
  }

  .header .menu-icon {
    display: block; /* Exiba o ícone do menu */
    font-size: 24px;
    cursor: pointer;
  }

  .header .menu-active nav ul {
    display: block; /* Exiba a lista de navegação quando o menu está ativo */
  }

  .header .menu-active .menu-icon {
    display: none; /* Oculte o ícone do menu quando o menu está ativo */
  }

  .header nav ul li {
    text-align: center; /* Centralize os itens da lista */
    margin: 10px 0;
  }
}


.header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.header nav ul li a:hover {
  color: rgba(0, 0, 0, 0.384);
  transition: 0.4s;
  text-decoration: none;
  background: rgba(236, 234, 234, 0.614);
  padding: 0.3rem;
}
